<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
     <product
            application="org.eclipse.ui.ide.workbench"
            name="APP4MC Tool Platform">
         <property
               name="appName"
               value="APP4MC Tool Platform">
         </property>
         <property
               name="startupForegroundColor"
               value="003813">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="APP4MC Tool Platform&#x0A;&#x0A;(c) Copyright Eclipse APP4MC contributors and others. 2015 - 2020. &#x0A;All rights reserved.&#x0A;&#x0A;Version 0.9.7">
         </property>
         <property
               name="windowImages"
               value="icons/app4mc-logo-16.png,icons/app4mc-logo-32.png,icons/app4mc-logo-48.png,icons/app4mc-logo-64.png,icons/app4mc-logo-128.png,icons/app4mc-logo-256.png">
         </property>
   		<property
         		name="cssTheme"
         		value="org.eclipse.e4.ui.css.theme.e4_default">
   		</property>
     <property
           name="preferenceCustomization"
           value="plugin_customization.ini">
     </property>
      </product>
   </extension>
      <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.eclipse.app4mc.platform.ide.intro">
      </intro>
      <introProductBinding
            introId="org.eclipse.app4mc.platform.ide.intro"
            productId="org.eclipse.app4mc.platform.ide.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.eclipse.app4mc.platform.ide.intro"
            content="introContent.xml"
            id="org.eclipse.app4mc.platform.ide.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            inheritBindingsFromViewer="org.eclipse.ui.navigator.ProjectExplorer"
            viewerId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.sphinx.emf.explorer.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.sphinx.emf.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.app4mc.platform.ide.perspective.PerspectiveFactory"
            fixed="false"
            icon="icons/app4mc-logo-16.png"
            id="org.eclipse.app4mc.platform.ide.perspective"
            name="APP4MC">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.sphinx.emf.explorer.ExtendedCommonNavigator"
            icon="icons/app4mc-logo-16.png"
            id="org.eclipse.app4mc.platform.ide.views.modelExplorer"
            name="Model Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
         <propertyTab
               category="advanced"
               id="org.eclipse.app4mc.platform.ide.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
         <propertySection
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.app4mc.platform.ide.propertySection.advanced"
               tab="org.eclipse.app4mc.platform.ide.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.app4mc.platform.ide.views.modelExplorer"
            labelProvider="org.eclipse.sphinx.emf.ui.properties.BasicTabbedPropertySheetTitleProvider">
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>

</plugin>
